# Pandas Exercises

Assigments for Pandas skills

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("banklist.csv")

** Show the head of the dataframe **

In [26]:
# CODE HERE

In [5]:
data.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [8]:
# CODE HERE

In [7]:
print(data.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [ ]:
# CODE HERE

In [40]:
print("The number of states represented in this dataset is",data.ST.nunique(),".")

The number of states represented in this dataset is 44 .

** Get a list or array of all the states in the data set. **

In [ ]:
# CODE HERE

In [38]:
print("The list of all the states in the data set:\n\n",data.ST.unique())

The list of all the states in the data set:

 ['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

** What are the top 5 states with the most failed banks? **

In [ ]:
# CODE HERE

In [41]:
print("Top 5 states with the most failed banks:\n",data['ST'].value_counts()[0:5])

Top 5 states with the most failed banks:
 GA    93
FL    75
IL    67
CA    41
MN    23
Name: ST, dtype: int64

** What are the top 5 acquiring institutions? **

In [21]:
# CODE HERE

In [43]:
print("Top 5 acquiring institutions:\n",data['Acquiring Institution'].value_counts()[0:5])

Top 5 acquiring institutions:
 No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [24]:
# CODE HERE

In [33]:
data[data['Acquiring Institution']=='State Bank of Texas']

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

There are three banks acquired by the State Bank of Texas, of which only one bank is actually in the state of Texas.

** What is the most common city in California for a bank to fail in?**

In [31]:
# CODE HERE

In [30]:
print(data[data['ST']=='CA']['City'].value_counts())

Los Angeles         4
San Diego           2
San Francisco       2
Newport Beach       2
La Jolla            2
Palm Desert         2
Santa Monica        1
Palm Springs        1
Ventura             1
Nevada City         1
Merced              1
Sonoma              1
San Rafael          1
Calabasas           1
Woodland Hills      1
Rancho Cucamonga    1
San Luis Obispo     1
Oakland             1
Pasadena            1
Westminster         1
Irvine              1
Napa                1
Redlands            1
Bakersfield         1
Torrance            1
Granite Bay         1
Stockton            1
Chico               1
Solvang             1
Pomona              1
Temecula            1
San Clemente        1
Culver City         1
Name: City, dtype: int64

Los Angeles is the city with the most bank failures in California

** How many failed banks don't have the word "Bank" in their name? **

In [ ]:
# CODE HERE

14

** How many bank names start with the letter 's' ? **

In [ ]:
# CODE HERE

53

** How many CERT values are above 20000 ? **

In [61]:
# CODE HERE

417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [65]:
# CODE HERE

114

**Bonus: How many banks closed in the year 2008? (this is hard because we technically haven't learned about time series with pandas yet! Feel free to skip this one!**

In [ ]:
# CODE HERE

25